@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Thêm các class custom cho hiệu ứng Glassmorphism */
  .glass-card {
    @apply bg-white/50 backdrop-blur-xl border border-white/30 shadow-2xl;
  }
}
